.menuBarItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: var(--font-display-xxxsmall);
  width: fit-content;
  height: 24px;
  padding: 2px 7px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: white;
  appearance: none;
}

.menuBarItem:hover {
  transition-duration: 0.2s;
  background-color: lightgrey;
}
