.menuBarItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* font: var(--default-font); */
  font-size: 14px;

  /* color: var(--default-font-color); */
  width: fit-content;
  height: 24px;
  padding: 2px 7px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: white;
  appearance: none;
}

.menuBarItem:hover {
  transition-duration: 0.2s;
  background-color: lightgrey;
}
