.authContainer {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100vh;
    position: relative;
}

.authOptionsContainer {
    display: flex;
    gap: 12px;
    align-self: flex-end;
    margin-bottom: 12px;
}

.authOptionButton {
    font: var(--font-display-xsmall);
    border: 2px solid #222;
    border-radius: 5px;
    padding: 5px 12px;
    width: fit-content;
    height: 40px;
}

.authOptionButton:hover {
    cursor: pointer;
}

.authContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loadingOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255 255 255 / 65%);
}

.loadingText {
    font: var(--font-display-large);
}