.content {
    width: 100%;
    height: 100%;
    overflow-wrap: anywhere;
    word-break: break-word;
}

.content :global(p),
.content :global(h1),
.content :global(h2),
.content :global(h3),
.content :global(h4),
.content :global(h5),
.content :global(h6) {
    margin: 0;
}

.content :global(ul),
.content :global(ol) {
    margin: 0;
    padding-left: 1.2em;
}

.content :global(li) {
    margin: 0;
}
