.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    overflow: visible;
}

.editor {
    flex: 1;
    min-height: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-radius: 0;
    overflow: visible;
}

.proseMirror {
    outline: none;
    cursor: text;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 0;
    overflow: visible;
    caret-color: currentcolor;
    color: inherit;
}
