* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.mainField {
  display: flex;
  flex-direction: column;

  /* color: var(--default-font-color); */
  margin-left: 50px;
  height: 100vh;
}

.headerPanel {
  margin-bottom: 15px;
}

.iconAndInterfaceWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  box-sizing: content-box;
  padding: 5px;
}

.titleAndInterfaceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 10px 0;
}

.presentationTitle {
  font-size: 18px;
  padding-left: 7px;
}

.workField {
  display: flex;
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
}
