* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.mainField {
  display: flex;
  flex-direction: column;
  color: var(--default-font-color);
}

.headerPanel {
  font: var(--title-font);
  margin-bottom: 15px;
}

.workField {
  font: var(--default-font);
  display: flex;
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
}
