.slideViewContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
}

.index {
  font: var(--filmstrip-index-span-font);
  color: var(--default-font-color);
  margin-right: 10px;
}

.slideView {
  border: 2px solid var(--filmstrip-slide-border-color);
  border-radius: 15px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  background-clip: padding-box;
}

.slideView:hover {
  border: 2px solid var(--filmstrip-slide-border-hover-color);
  transition-duration: var(--default-transition-time);
}

.slideViewInner {
    position: relative;
    width: var(--slide-width);
    height: var(--slide-height);
    will-change: transform;
}
