.title {
    text-align: center;
}

.loginFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 24rem;
}

.formLabel {
    width: 100%;
    align-self: flex-start;
}

.formInputField {
    margin-top: 6px;
    width: 100%;
    height: 40px;
    background: transparent;
}

.submitButton {
    width: 100%;
    height: 40px;
    background-color: #222222F8;
    transition-duration: 0.5s;
    color: white;
    text-align: center;
}

.formInputField,
.submitButton {
    border: 2px solid #222;
    border-radius: 5px;
    padding: 5px 12px;
}

.submitButton:hover {
    background-color: #222;
    cursor: pointer;
}

