:root {
    --font-header-large:   700 4rem/1.1 "SST", sans-serif;
    --font-header-medium:  700 3.5rem/1.12 "SST", sans-serif;
    --font-header-small:   700 3rem/1.15 "SST", sans-serif;
    --font-display-large:  500 3rem/1.2 "SST", sans-serif;
    --font-display-medium: 500 2.5rem/1.25 "SST", sans-serif;
    --font-display-small:  500 2rem/1.3 "SST", sans-serif;
    --font-display-xsmall: 500 1.5rem/1.35 "SST", sans-serif;
    --font-display-xxsmall: 500 1.25rem/1.30 "SST", sans-serif;
    --font-display-xxxsmall:500 1rem/1.25 "SST", sans-serif;
    --font-text-xlarge:    400 2.5rem/1.4 "SST", sans-serif;
    --font-text-large:     400 2rem/1.45 "SST", sans-serif;
    --font-text-medium:    400 1.5rem/1.5 "SST", sans-serif;
    --font-text-small:     400 1rem/1.6 "SST", sans-serif;
    --font-text-xsmall:    400 0.5rem/1.6 "SST", sans-serif;
}
