@font-face {
  font-family: SST;
  src: url("../../fonts/SSTRg.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SST;
  src: url("../../fonts/SSTBold.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: SST;
  src: url("../../fonts/SSTRgIt.TTF") format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root {
  --title-font: 700 1.25em "SST";
  --default-font: 400 0.75em "SST";
  --filmstrip-index-span-font: 400 1.5em "SST";
  --default-font-color: #222;

  /* --default-font-color: red; */
  --light-font-color: #3b3838;
  --filmstrip-slide-border-color: #423e3e4c;
  --filmstrip-slide-border-hover-color: #423e3eff;
  --default-transition-time: 0.2s;
  --slide-width: 1250px;
  --slide-height: 700px;
}
