.slideObj {
    position: absolute;
    transform-origin: top left;
    border: 2px solid #22222230;
    box-sizing: border-box;

}

.slideObj__hovered {
    border: 2px solid #22222280;
}

.slideObj__selected {
    border: 2px solid #007bff;
}

.slideObjText {
    width: 100%;
    height: 100%;
    display: block;
    white-space: pre-wrap;
    overflow: visible;
    font: inherit;
    background: transparent;
}

.slideObjImage {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
}
