.slideViewContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
}

.index {
  font: 400 20px SST, sans-serif;

  /* color: var(--default-font-color); */
  margin-right: 10px;
}

.slideView {
  border: 2px solid #423e3e4c;
  border-radius: 15px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  background-clip: padding-box;
}

.slideView:hover {
  border: 2px solid #423e3eff;
  transition-duration: 0.2s;
}

.slideViewInner {
    position: relative;
    width: 1250px;
    height: 700px;
    will-change: transform;
}

.noSelect, .noSelect * {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    touch-action: manipulation;
}