@font-face {
    font-family: NotoSansJP;
    src: url("NotoSansJP-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NotoSansJP;
    src: url("NotoSansJP-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
